/*Styling my dropdown navbar with some css styles*/
/*styling the body tag*/
body{
     margin: 0;
     width: 100%;
}

/*Beginning to style the navbar*/
.navbar {
  display: inline;
  overflow: hidden;
  padding: 0px;
  margin-top: 0px;
  color: gray;
  background-color: #47d147;
  opacity: 0.85;
  height: 50px;
  width: 100%;
  font-family: font-family: 'Archivo Black', sans-serif;
}

/*navbar links styles*/
.navbar a {
  float: left;
  font-size: 20px;
  color: white;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

/*Responsive Design*/
/*Responsive Design for desktop*/
@media only screen (max-width: 800px){
  .navbar, .navbar a{
    display: inline;
    overflow: hidden;
    padding: 0px;
    margin-top: 0px;
    color: gray;
    background-color: #47d147;
    opacity: 0.85;
    height: 50px;
    width: 100%;
    font-family: font-family: 'Archivo Black', sans-serif;
  }
}

/*Responsive Design for large desktop*/
@media only screen (max-width: 900px){
  .navbar, .navbar a{
    display: inline;
    overflow: hidden;
    padding: 0px;
    margin-top: 0px;
    color: gray;
    background-color: #47d147;
    opacity: 0.85;
    height: 50px;
    width: 100%;
    font-family: font-family: 'Archivo Black', sans-serif;
  }
}

/*Responsive Design for mobile devices*/
@media only screen (max-width: 620px){
  .navbar, .navbar a{
      display: inline;
      overflow: hidden;
      padding: 0px;
      margin-top: 0px;
      color: gray;
      background-color: #47d147;
      opacity: 0.85;
      height: 50px;
      width: 100%;
      font-family: font-family: 'Archivo Black', sans-serif;
}
