/*Declare all variables at the top*/
/*Declaring mixin's*/
$backgroundColor: #d8d874;
$secondaryColor: #47d147;
$tertiaryColor: #800000;
$primaryFontSize:30px;
$sectionColor: black;
@mixin title{
             display: grid;
             grid-column: auto;
             grid-row: auto;
h1{
    color: #c0ca33;
    opacity: 1;
  }
             font-size: $primaryFontSize;
             background-image: url(https://images.pexels.com/photos/418831/pexels-photo-418831.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
             background-position: center;
             background-size: cover;
             width: 100%;
             margin: 0px;
             padding: 0px;
}

@mixin navbar_grid{
                   display: grid;
                   grid-column: 1fr;
                   grid-row: 1fr;
                   background-color: #29a329;
                   // width: 100%;
}

@mixin container{
                 display: grid;
                 grid-template-areas:
                 "aside article article article article article";
                 grid-gap: 10px;
                 // height: auto;
                 margin-right: 10%;
  }

@mixin aside{
             background-color: $secondaryColor;
             color: #800000;
             width: 60%;
             margin-left: 10%;
           }

@mixin section{
                border: 2px solid;
}

@mixin footer{
              overflow: hidden;
              background-color: $secondaryColor;
              height: 90px;
              border: 2px solid black;
              color: $tertiaryColor;
              font-size: 25px;
}

body{
     background-color: $backgroundColor;
     margin: 0px;
     padding: 0px;
     width: 100%;

p{
  font-size: 16px;
  font-family: 'Kavivanar', cursive;
}
      }

h1, h2, h3{
  color: #800000;
  opacity: 1;
  font-style: normal;
  font-family: 'Archivo Black', sans-serif;
}

.image{
          height: 50%;
          width: 70%;
}

/*Including styles for my title*/
#title{
  @include title
}

/*Including styles for my container*/
.container{
  @include container
}

/*Including styles for my images on my homepage*/
.aside{
  @include aside
}

/*hiking article section*/
.hiking_section{
  @include section
}

/*fishing article section*/
.Fishing_section{
  @include section
}

/*camping article section*/
.Camping_section{
  @include section
}

/*rock_climbing article section*/
.rock_climbing_section{
  @include section
}

/*including styles for my footer*/
 footer{
 @include footer
}
