/*Declare all variables at the top*/
/*Declaring mixin's*/
$backgroundColor: #d8d874;
$secondaryColor: #47d147;
$tertiaryColor: #800000;
$primaryFontSize:30px;
$sectionColor: black;
@mixin title{
             display: grid;
             grid-column: 1fr;
             grid-row: 1fr;
             background-color: #d8d874;
h1,{
    color: #800000;
    opacity: 1;
  }

             font-size: $primaryFontSize;
             background-image: url(https://images.pexels.com/photos/418831/pexels-photo-418831.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
             background-position: center;
             background-size: cover;
             width: 100%;
             margin: 0px;
             padding: 0px;

}

@mixin navbar_grid{
                   display: grid;
                   grid-column: 1fr;
                   grid-row: 1fr;
                   background-color: #29a329;
}

 @mixin mainContainer{
                    display: grid;
                    grid-template-columns: repeat(2,1fr);
                    grid-template-rows: repeat(1,1fr);
                    width: 100%;

}

@mixin container{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repaet(1,1fr);
            grid-gap: 10px;
            width: 60%;
            padding-left: 150px;
            }


@mixin Camping{
               grid-column: 2/3

}

@mixin aside{
             background-color: $secondaryColor;
             display: grid;
             grid-template-columns: 1fr;
             grid-template-rows: 1fr;
             width: 80%;
             height: 800px;
             margin-left: 20px;
             color: #800000;
           }

@mixin fishing{
               grid-column: 1/2;
               grid-row-start: 2;
               grid-row-end: 2;
}

@mixin rock_climbing{
                    grid-column: 2/3;
}

@mixin section{
                width: 100%;
                margin-left: 100px;
                border: 2px solid;
}

@mixin footer{
              overflow: hidden;
              background-color: $secondaryColor;
              height: 90px;
              border: 2px solid black;
              color: $tertiaryColor;
              font-size: 25px;
}

body{
     background-color: $backgroundColor;
     margin: 0px;
     padding: 0px;
     width: 100%;
p{
  font-size: 16px;
  font-family: 'Kavivanar', cursive;
}
      }

h1, h2, h3{
  color: #800000;
  opacity: 1;
  font-style: normal;
  font-family: 'Archivo Black', sans-serif;
}

/*Including styles for my title*/
#title{
  @include title
}

/*Including styles for my main container*/
 .mainContainer{
  @include mainContainer
}

/*Including styles for my container*/
.container{
  @include container
}

/*Including styles for my images on my homepage*/
.Camping{
  @include Camping
}

.aside{
  @include aside
}

.Fishing{
  @include fishing
}

.Rock_climbing{
 @include rock_climbing
}

/*hiking article section*/
.hiking_section{
  @include section
}

/*fishing article section*/
.Fishing_section{
  @include section
}

/*camping article section*/
.Camping_section{
  @include section
}

/*rock_climbing article section*/
.rock_climbing_section{
  @include section
}

/*including styles for my footer*/
 footer{
 @include footer
}
